* {
    padding: 0;
    margin: 0;
    font-size: 1px;
    color: #e8effb;
}

body {
    font-family: "Noto Serif JP";
    background-image: url(background/backgroundForMobile.gif);
    -webkit-background-size: cover;
    background-size: cover;
}

/*ファーストビュー設定*/
.heroForStyle {
    display: none;
}

.heroForMobile {
    width: 100%;
    position: relative;
}

header div h1 {
    font-size: 56rem;
    font-weight: 300;
    padding: 9% 2% 3%;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    color: #020208;
    background-color: rgba(255, 255, 255, 0.9);
}

header div{
    position: absolute;
    top: 10%;
    right: 0;
    left: 0;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0);
    width: 22%;
}

header p {
    display: none;
}

.catchPhrase {
    text-align: center;
    padding: 160px 0;
    background-image: url(imageForMobile/string.png);
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.catchPhrase p {
    font-size: 20rem;
    font-weight: 400;
}

nav {
    display: none;
}
