* {
    padding: 0;
    margin: 0;
    font-size: 1px;
    color: #e8effb;
}

body {
    font-family: "Noto Serif JP";
    background-image: url(background/backgroundForMobile.gif);
    -webkit-background-size: cover;
    background-size: cover;
}

section {
    margin: 0 0 160px;
}

/*ファーストビュー設定*/
header {
    position: relative;
}

.heroForStyle {
    display: none;
}

.heroForMobile {
    width: 100%;
    position: relative;
}

header div h1 {
    font-size: 56rem;
    font-weight: 500;
    padding: 40% 2% 5%;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    color: #fff;
    border: 4px solid #fff;
    /*background-color: rgba(255, 255, 255, 0.9);*/
}

header div {
    position: absolute;
    top: 16%;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 26%;
}

header p {
    display: none;
}

.catchPhrase {
    text-align: center;
    padding: 240px 0;
    background-image: url(imageForMobile/string.png);
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

.catchPhrase p {
    font-size: 20rem;
    font-weight: 400;
}

/*navバーの作成*/
nav {
    display: none;
}

#navImgForMobile {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 9999;
}

/*弦音巴とは？作成*/
#whatIsOtoha {
    background-image: url(imageForMobile/whatIsOtoha.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 40px 0;
}

#whatIsOtoha img {
    width: 66%;
    display: block;
    margin: 0 auto;
    padding: 30% 0 20%;
}

#whatIsOtoha .purpose {
    text-align: center;
    font-size: 24rem;
    display: inline-block;
    padding: 1% 0;
}

#whatIsOtoha .purposeContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 0 20%;
}

#explanationStyle {
    display: none;
}

#whatIsOtoha #explanationMobile {
    text-align: center;
    font-size: 12rem;
    padding: 0 0 30%;
    line-height: 2;
}

/*説明会・ライブ作成*/
#videosForMobile {
    width: 84%;
    background-image: url(imageForMobile/string.png);
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 80px auto;
    padding: 40px 0 40px;

}

.video {
    position: relative;
    width: 100%;
    height: 240px;
    padding: 20px 0;
}

.video p {
    display: inline-block;
    font-size: 14rem;
    position: absolute;
    top: 0;
    left: 0;
}

.video iframe {
    position: absolute;
    top: 24px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: 240px;
}

#expMeetAndLive .video {
    display: none;
}

#expMeetAndLive {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.expMeetAndLivebox {
    width: 84%;
    height: 200px;
    box-sizing: border-box;
    border: 4px solid #fff;
    display: flex;
    flex-flow: row wrap;
    margin: 20px auto;
}

.boxTitle p {
    color: #020208;
    font-size: 32rem;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    line-height: 2.9;
}

.boxTitle {
    background-color: #fff;
    width: 50%;
    height: 50%;
}

.dateBox {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    height: 50%;
    width: 50%;
}

.dayBox {
    width: 25%;
    height: 60%;
    box-sizing: border-box;
}

.dayBox p {
    font-size: 32rem;
    font-weight: 500;
    text-align: center;
}

.monthBox {
    width: 75%;
    height: 60%;
    box-sizing: border-box;
    padding-top: 4%;
}

.monthBox p {
    font-size: 8rem;
    font-weight: 300;
}

.monthBox p span {
    font-size: 16rem;
    font-weight: 400;
}

.timeAndSpaceBox {
    width: 100%;
    height: 40%;
    box-sizing: border-box;
    padding-left: 5%
}

.timeAndSpaceBox p {
    font-size: 12rem;
    font-weight: 400;
}

/*練習見学作成*/
