* {
    padding: 0;
    margin: 0;
    font-size: 1px;
    color: #e8effb;
}

body {
    font-family: "Noto Serif JP";
    background-image: url(background/backgroundForMobile.gif);
    -webkit-background-size: cover;
    background-size: cover;
}

section {
    margin: 0 0 300px;
}

/*ファーストビュー設定*/
header {
    position: relative;
}

.heroForStyle {
    display: none;
}

.heroForMobile {
    width: 100%;
    position: relative;
}

header div h1 {
    font-size: 56rem;
    font-weight: 300;
    padding: 40% 2% 5%;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    color: #020208;
    background-color: rgba(255, 255, 255, 0.9);
}

header div {
    position: absolute;
    top: 16%;
    right: 0;
    left: 0;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0);
    width: 22%;
}

header p {
    display: none;
}

.catchPhrase {
    text-align: center;
    padding: 160px 0;
    background-image: url(imageForMobile/string.png);
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

.catchPhrase p {
    font-size: 20rem;
    font-weight: 400;
}

nav {
    display: none;
}

/*弦音巴とは？作成*/
#whatIsOtoha {
    background-image: url(imageForMobile/whatIsOtoha.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#whatIsOtoha img {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 30% 0;
}

#whatIsOtoha .purpose {
    text-align: center;
    font-size: 22rem;
    display: inline-block;
    padding: 2% 0;
}

#whatIsOtoha .purposeContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 0 20%;
}

#explanationStyle {
    display: none;
}

#whatIsOtoha #explanationMobile {
    text-align: center;
    font-size: 12rem;
    padding: 0 0 30%;
    line-height: 1.5;
}
