* {
    padding: 0;
    margin: 0;
    font-size: 1px;
    color: #fff;
}

body {
    font-family: "Noto Serif JP";
    background-image: url(background/backgroundForMobile.gif);
    -webkit-background-size: cover;
    background-size: cover;
}

section {
    margin: 0 0 120px;
}

.imgForStyle {
    display: none;
}

/*ファーストビュー設定*/
header {
    position: relative;
}

.heroForStyle {
    display: none;
}

.heroForMobile {
    width: 100%;
    position: relative;
}

header div h1 {
    font-size: 56rem;
    font-weight: 500;
    padding: 40% 2% 5%;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    color: #fff;
    border: 4px solid #fff;
    /*background-color: rgba(255, 255, 255, 0.9);*/
}

header div {
    position: absolute;
    top: 16%;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 26%;
}

header p {
    display: none;
}

.catchPhrase {
    text-align: center;
    padding: 240px 0;
    background-image: url(imageForMobile/string.png);
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

.catchPhrase p {
    font-size: 20rem;
    font-weight: 500;
}

/*navバーの作成*/
nav {
    display: none;
}

#navImgForMobile {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 1;
}

/*弦音巴とは？作成*/
#whatIsOtoha {
    background-image: url(imageForMobile/whatIsOtoha.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 40px 0;
}

#whatIsOtoha img {
    width: 66%;
    display: block;
    margin: 0 auto;
    padding: 30% 0 20%;
}

#whatIsOtoha .purpose {
    text-align: center;
    font-size: 24rem;
    display: inline-block;
    padding: 1% 0;
}

#whatIsOtoha .purposeContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 0 20%;
}

#explanationStyle {
    display: none;
}

#whatIsOtoha #explanationMobile {
    text-align: center;
    font-size: 12rem;
    font-weight: 400;
    padding: 0 0 30%;
    line-height: 2;
}

/*説明会・ライブ作成*/
#videosForMobile {
    width: 88%;
    background-image: url(imageForMobile/string.png);
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 80px auto;
    padding: 40px 0 40px;

}

.video {
    position: relative;
    width: 100%;
    height: 240px;
    padding: 20px 0;
}

.video p {
    display: inline-block;
    font-size: 14rem;
    position: absolute;
    top: 0;
    left: 0;
}

.video iframe {
    position: absolute;
    top: 24px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: 240px;
}

#expMeetAndLive .video {
    display: none;
}

#expMeetAndLive {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.expMeetAndLivebox {
    width: 88%;
    height: 200px;
    box-sizing: border-box;
    border: 4px solid #fff;
    display: flex;
    flex-flow: row wrap;
    margin: 20px auto;
}

.boxTitle p {
    color: #020208;
    font-size: 32rem;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    line-height: 2.9;
}

.boxTitle {
    background-color: #fff;
    width: 50%;
    height: 50%;
}

.dateBox {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    height: 50%;
    width: 50%;
}

.dayBox {
    width: 25%;
    height: 60%;
    box-sizing: border-box;
}

.dayBox p {
    font-size: 32rem;
    font-weight: 500;
    text-align: center;
}

.monthBox {
    width: 75%;
    height: 60%;
    box-sizing: border-box;
    padding-top: 4%;
}

.monthBox p {
    font-size: 8rem;
    font-weight: 300;
}

.monthBox p span {
    font-size: 16rem;
    font-weight: 400;
}

.timeAndSpaceBox {
    width: 100%;
    height: 40%;
    box-sizing: border-box;
    padding-left: 5%
}

.timeAndSpaceBox p {
    font-size: 10.5rem;
    font-weight: 400;
}

/*練習見学作成*/
#imgWithTeacher {
    display: none;
}

#imgKensho {
    display: none;
}

#practiceTitle {
    position: relative;
}

#practiceTitle img {
    width: 100%;
}

#practiceTitleSquare {
    background-color: #fff;
    width: 40%;
    padding-top: 40%;
    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: rotate(12deg);
    position: absolute;
    z-index: 1;
}

#practiceTitle p {
    color: #020208;
    display: inline-block;
    text-align: center;
    font-size: 24rem;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.05;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
}

#practiceInfo .blankImg {
    display: none;
}

#practiceExplanation {
    width: 68%;
    padding-top: 68%;
    border: 4px solid #fff;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
}

#praExpBoxForMobile {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -weblit- transform: translateY(-50%) translateX(-50%);
}

#praExpTimeAndPlace {
    display: none;
}

#praExpTimeAndPlaceForMobile {
    font-size: 18rem;
    font-weight: 500;
    width: 100%;
    text-align: center;
    padding-bottom: 10%;
}

#praExpText {
    display: none;
}

#praExpTextForMobile {
    font-size: 12rem;
    font-weight: 400;
    text-align: center;
}

#practiceDateBoxContainer {
    width: 68%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 0 auto;
    padding: 6% 0;
}

.practiceDateBox {
    width: 44%;
    padding: 6% 0;
    box-sizing: border-box;

}

.practiceDateBox img {
    width: 100%;
}

#slideForMobile {
    width: 68%;
    padding-top: 6%;
    margin: 0 auto;
}


/*新歓食事会作成*/
.welcomePartyTitle {
    font-size: 24rem;
    font-weight: 500;
    width: 68%;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    color: #020208;
    padding: 2% 4%;
    box-sizing: border-box;
    margin-bottom: 56px;
}

#welcomePartyContainerForMobile {
    width: 68%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 56px;
}

.welcomePartyDateBoxForMobile {
    width: 50%;
    display: flex;
    flex-flow: row wrap;
}

.welcomePartyPlaceBoxForMobile {
    width: 50%;
    padding-top: 5%;
    font-size: 16rem;
    font-weight: 400;
}

.welcomePartyDayBoxForMobile {
    font-size: 32rem;
    font-weight: 500;
    width: 50%;
    text-align: right;
}

.welcomePartyMonthBoxForMobile {
    font-size: 8rem;
    font-weight: 300;
    width: 50%;
    padding: 6% 0 0 4%;
    box-sizing: border-box;
}

.welcomePartyMonthBoxForMobile span {
    font-size: 14rem;
    font-weight: 400;
}

#welcomePartyContainer {
    width: 68%;
    position: relative;
    margin: 0 auto;
}

#welcomePartyContainer img {
    width: 100%;
}

#welcomePartyInfoContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.welcomePartyDateBox {
    display: none;
}

.welcomePartyPlaceBox {
    display: none;
}

.welcomePartyTimeAndPlaceBoxForStyle {
    display: none;
}

.welcomePartyExplanationForStyle {
    display: none;
}

.welcomePartyTimeAndPlaceBox {
    width: 100%;
    box-sizing: border-box;
    padding: 15% 0;
}

.welcomePartyExplanation {
    width: 100%;
    box-sizing: border-box;
}

.welcomePartyTimeAndPlaceBox p {
    font-size: 18rem;
    font-weight: 500;
    text-align: center;
}

.welcomePartyExplanation p {
    font-size: 12rem;
    font-weight: 400;
    text-align: center;
}

/*活動風景作成*/

/*jQuery*/
.fuwatAnime {
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
}

@-webkit-keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
